﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown-menu" style="background-color:#000000">
            <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" style="text-align:center">@Resources.Language.Lang<span class="caret"</a>
            <style type="text/css">
                body ul {
                    margin: 0px;
                    padding: 0px;
                    list-style-type: none;
                }
            </style>
            <ul class="dropdown-menu" id="menucont" style="text-align:center">
                <li>@Html.ActionLink(Resources.Language.Ingilizce, "ChangeCulture", "Home", new { lang = "en" }, null)  </li>
                <li>@Html.ActionLink(Resources.Language.Turkce, "ChangeCulture", "Home", new { lang = "tr" }, null)</li>
            </ul>
        </li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        @*<li>@Html.ActionLink(Resources.Language.Roller, "Index", "RolYonetim")</li>*@

    </ul>
}
