﻿@model WebProgramlamaOdev.Models.Duyurular

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Duyurular</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dbaslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dbaslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dicerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dicerik)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DuyurularID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
