﻿@{
    ViewBag.Title = "Card";
}
<center> <h3>@Resources.Language.CardText1</h3> </center>

<div class="item">
    <center><img src="~/images/anacard.jpg" width="650" height="300" /></center>
    <center> <h4>@Resources.Language.CardText2</h4> </center>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model1</h1></div>
            <div class="panel-body">
                <img src="~/images/c1.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>MSI GeForce GTX1070 QUICK SILVER 8GB OC GDDR5 256Bit DX12 Nvidia Ekran Kartı</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 2184 TL </td> <td><td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model2</h1></div>
            <div class="panel-body">
                <img src="~/images/c2.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>Evga GTX1050 Ti GAMING GDDR5 4GB 128Bit Nvidia GeForce DX11.2 Ekran Kartı</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 778 TL </td> <td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model3</h1></div>
            <div class="panel-body">
                <img src="~/images/c3.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>MSI GeForce GTX1050 TI 4GB OC GDDR5 128Bit Nvidia DX12 Ekran Kartı</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 697 TL </td><td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model4</h1></div>
            <div class="panel-body">
                <img src="~/images/c4.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>ASUS GeForce GTX1050TI STRIX GAMING GDDR5 4GB 128Bit DX12 Nvidia Ekran Kartı</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 926 TL </td> <td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model5</h1></div>
            <div class="panel-body">
                <img src="~/images/c5.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>MSI GeForce GTX1060 3GB OC V1 GDDR5 192Bit NVidia DX12 Ekran Kartı</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 1045 TL </td><td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model6</h1></div>
            <div class="panel-body">
                <img src="~/images/c6.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>Zotac GTX1050 Ti OC EDITION GDDR5 4GB 128Bit Nvidia GeForce DX12 Ekran Kartı</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 800 TL </td> <td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model7</h1></div>
            <div class="panel-body">
                <img src="~/images/c7.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>ASUS GeForce GTX1060 GDDR5 3GB 192Bit NVIDIA DUAL DX12 Ekran Kartı</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 1085 TL </td><td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model8</h1></div>
            <div class="panel-body">
                <img src="~/images/c8.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>Asus R7 250 GDDR5 2GB 128Bit AMD Radeon DX11.2 Ekran Kartı</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 361 TL </td><td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model9</h1></div>
            <div class="panel-body">
                <img src="~/images/c9.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>MSI GTX1070 GAMING Z 8GB GDDR5 256Bit Nvidia GeForce DX12 Ekran Kartı</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 2400 TL </td><td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model10</h1></div>
            <div class="panel-body">
                <img src="~/images/c10.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>ASUS RX480 8GB STRIX GAMING GDDR5 256Bit AMD Radeon DX12 Ekran kartı</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 1299 TL </td> <td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model11</h1></div>
            <div class="panel-body">
                <img src="~/images/c11.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>EVGA GTX1070 FTW 8GB GDDR5 256bit ACX 3.0+ Nvidia Ekran Kartı</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 2300 TL </td> <td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model12</h1></div>
            <div class="panel-body">
                <img src="~/images/c12.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>Sapphire R5 230 1 GB DDR3 64Bit DX11 Ekran Kartı</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 100 TL </td><td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
</div>
