﻿
@{
    ViewBag.Title = "Processor";
}

<center> <h3>@Resources.Language.ProcessorText1</h3> </center>

<div class="item">
    <center><img src="~/images/anaprocessor.jpg" width="650" height="300" /></center>
    <center> <h4>@Resources.Language.ProcessorText2</h4> </center>

</div>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model1</h1></div>
            <div class="panel-body">
                <img src="~/images/i1.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>Intel Core i7 6900K Soket 2011V3 3.2GHz 20MB Önbellek 14nm İşlemci</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 4.329 TL </td><td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model2</h1></div>
            <div class="panel-body">
                <img src="~/images/i2.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>Intel Core i3 6098P Soket 1151 3.6GHz 3MB Önbellek 14nm İşlemci</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 499 TL </td><td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model3</h1></div>
            <div class="panel-body">
                <img src="~/images/i3.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>Intel Core i7 5820K Soket 2011V3 3.3GHz 15MB Önbellek 14nm İşlemci</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 3.599 TL </td><td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model4</h1></div>
            <div class="panel-body">
                <img src="~/images/i4.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>Intel Core i5 6500 Soket 1151 3.2GHz 6MB Önbellek 14nm İşlemci</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 1.299 TL </td><td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model5</h1></div>
            <div class="panel-body">
                <img src="~/images/i5.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>AMD FX X4 4320 Soket AM3+ 4.0GHz 8MB Önbellek 32nm İşlemci</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 999 TL </td><td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model6</h1></div>
            <div class="panel-body">
                <img src="~/images/i6.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>AMD FX X8 8350 Soket AM3+ Wraith Soğutucu 4.0GHz 16MB Önbellek 32NM İşlemci</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 1499 TL </td><td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>

            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model7</h1></div>
            <div class="panel-body">
                <img src="~/images/i7.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>AMD Athlon X4 840 Soket FM2+ 3.1GHz(3,8Ghz boost) 4MB Önbellek 65W 28nm İşlemci</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 659 TL </td> <td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model8</h1></div>
            <div class="panel-body">
                <img src="~/images/i8.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>AMD FX X8 9590 Soket AM3+ 4.7GHz 16MB 220W 8 Çekirdek Su Soğutmalı İşlemci</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 699 TL </td> <td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model9</h1></div>
            <div class="panel-body">
                <img src="~/images/i9.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>Intel Pentium G4400 Soket 1151 3.3GHz 3MB Önbellek 14nm İşlemci</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 329 TL </td> <td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model10</h1></div>
            <div class="panel-body">
                <img src="~/images/i10.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>Intel Core i5 6600K Soket 1151 3.5GHz 6MB Önbellek 14nm İşlemci</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 999TL </td> <td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model11</h1></div>
            <div class="panel-body">
                <img src="~/images/i11.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>Intel Core i7 5930K Soket 2011V3 6 Çekirdekli 3.5GHz 15MB Önbellek 140w İşlemci</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 1569 TL </td> <td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="fa fa-user"></span><h1>Model12</h1></div>
            <div class="panel-body">
                <img src="~/images/i12.jpg" width="210" height="180" />
                <table>
                    <tr> <td><h4>Özellikler:</h4></td></tr>
                    <tr><td>AMD FX X8 8350 Soket AM3+ 4GHz 16MB Önbellek 125W 32nm İşlemci</td></tr>
                    <tr> <td> KDV Dahil </td> <td> 659 TL </td> <td><a class="btn btn-default" href="~/SatinAl/Create">Satın Al &raquo;</a></td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
</div>

