﻿@model WebProgramlamaOdev.Models.Roller
@{
    ViewBag.Title = "RolEkle";
}

<div class="row" style="text-align:center;">
    <h2>@Resources.Language.RolEkle</h2>
    <hr />
</div>
@using (Html.BeginForm("RolEkle", "RolYonetim", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Rol Adı : ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.KullaniciAdi, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <br /><br />
    <input type="submit" value="@Resources.Language.Ekle" style="margin-left:100px;" />
}
<br /><br />