﻿@model IEnumerable<WebProgramlamaOdev.Models.Yorumlar>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.isim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ybaslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yicerik)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.isim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ybaslik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yicerik)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.YorumlarID }) |
                @Html.ActionLink("Details", "Details", new { id = item.YorumlarID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.YorumlarID })
            </td>
        </tr>
    }

</table>
